:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
html {
  font: inherit;
  font-family: "Hanken Grotesk", sans-serif;
  vertical-align: baseline;
  text-align: center;
}

body {
  line-height: 1;
}

h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.score {
  font-size: 56px;
  font-weight: 800;
  line-height: 72px;
}
.score-subtext {
  opacity: 52%;
}

.heading-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.heading-3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
